@import '../../global.scss';

.search{


    display: flex;
    height: 620px;
    width: 100%;
   // border: 5px solid grey;
    border-radius: 5px;

    @include mobile {
        flex-direction: column;
    }
    .left{
        flex: 0.5;
        background-color: lightblue;
        transition: all 1s ease;

        
        &:hover{
            background-color: white;
            flex: 1;
        }

       
        input{
            margin-top: 15px;
            margin-left: 10px;
            height: 30px;
            width: 90%;
            border: 5px solid lightpink;
            border-radius: 3%;
            transition: all 1s ease;
            &:hover{
                height: 40px;
                width: 550;
            }
        }
        
        input,
        input::-webkit-input-placeholder {
        font-size: 20px;
         line-height: 3;


        }
        
        video{
            margin-top: 15px;
            height: calc(100% - 100px);
            width: 500px;
            margin-left: 10px;
            margin-right: 10px;
            transition: all 1.5s ease-in;
            border: 5px solid lightpink;
            @include mobile {
                width: 90%;
                border: 5px solid grey;
                border-radius: 10%;
                height: 400px;
                
            }

            &:hover{
                width: 90%;
                border: 5px solid grey;
                border-radius: 10%;
                
            }
          
        }


    }

    .right{
        flex: 1;
        background-color: rosybrown;
        border: 10px solid lightgray;
        transition: all 1s ease;
        &:hover{
            background-color: white;
            
        }

        .text{
           
            
          
 
             h1{
                 margin-left: 15px;
                 cursor: pointer;
                 transition: all 1s ease;
                 &:hover{
                     font-size: 50px;
                 }
             }
             h2{
                 margin-left: 15px;
                 cursor: pointer;
                 transition: all 1s ease;

                 &:hover{
                     font-size: 40px;
                 }
             }
             p{
                 margin-left: 15px;
                 cursor: pointer;
                 transition: all 1s ease;

                 &:hover{
                     font-size: 30px;
                 }
             }
         }
      
    }


}